<form class="search-form" #searchForm (ngSubmit)="onSearch(searchControl.value)">
  <mat-form-field>
    <input type="text"
         placeholder="Choose city"
         aria-label="Number"
         matInput
         [formControl]="searchControl"
         [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
    [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.LocalizedName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" mat-button color="primary">Search</button>
</form>




