<div class="weather-card">
  <div class="card-side front">
    <div>
      {{dayForecast.Date | date: 'EEEE'}}
    </div>
    <div>
      {{dayForecast.Temperature.Minimum.Value}} {{dayForecast.Temperature.Minimum.Unit}} - {{dayForecast.Temperature.Maximum.Value}} {{dayForecast.Temperature.Maximum.Unit}}
    </div>
    <div class="day">
      <img class="weather-icon" mat-card-image src="assets/icons/{{dayForecast.Day.Icon}}-s.png" alt="">
    </div>
    <div class="description">
      {{dayForecast.Day.IconPhrase}}
    </div>
  </div>

  <div class="card-side back">
    <div>
      {{dayForecast.Date | date: 'EEEE'}}
    </div>
    <div>
      {{dayForecast.Temperature.Minimum.Value}} {{dayForecast.Temperature.Minimum.Unit}} - {{dayForecast.Temperature.Maximum.Value}} {{dayForecast.Temperature.Maximum.Unit}}
    </div>
    <div class="night">
      <img class="weather-icon" mat-card-image src="assets/icons/{{dayForecast.Night.Icon}}-s.png" alt="">
    </div>
    <div class="description">
      {{dayForecast.Night.IconPhrase}}
    </div>
  </div>

</div>
