.weather-card {
  min-width: 150px;
  max-width: 200px;
  height: 200px;
  padding: 10px;
  position: relative;

  perspective: 1500px;
  -moz-perspective: 1500px;

  &:hover .card-side{
    transform: rotateY(180deg);

    &.front{
      transform: rotateY(180deg);
    }

    &.back{
      transform: rotateY(0);
    }
  }

  .card-side{
    transition: all .8s ease;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    backface-visibility: hidden;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .description{
      margin-bottom: 20px;
    }

    &.front{
      background-color: lightblue;
    }

    &.back{
      background-color: darkslategray;
      transform: rotateY(180deg);
    }
  }
}

.weather-icon{
  width: 100px;
}
